*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "popins",sans-serif;
}
.loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(72, 114, 240);
    text-align: center;
}
.loader img{
    margin-top: 350px;
}



header{
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 80px;

}

header h4{
    position: absolute;
    left: 10%;
    bottom: 1rem;
    font-size: 1.6rem;

}

.intro{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-image: url(../images/forSplashScreen/see3.gif);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}
.logo-header{
    font-size: 80px;  
}
.logo img{
    justify-content: center;
    margin-top: 350px;
    max-width: 70%;
    height: 20%;
    display: block;
    margin: auto;
}

.logo-header{
    position: absolute;
    top: 17%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: rgb(5, 12, 132);
}
 

.names{
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%,-50%);
    color: rgb(255, 255, 255);
     
    
}

 

.logo{
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
}

.logo.active{
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 1s;
}

.logo.fade{
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 2s;
}
